name: Merge to UAT

on:
  pull_request:
    branches:
      - develop
    types: [opened, synchronize, closed]

jobs:
  merge-to-uat:
    runs-on: ubuntu-latest
    if: github.event.pull_request.merged == true && github.base_ref == 'develop'
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set Git user info
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "actions@github.com"
      - name: Fetch latest changes from remote
        run: git fetch origin

      - name: Merge develop into uat with ours strategy
        run: |
          git checkout uat
          git merge origin/develop --allow-unrelated-histories -X ours
      - name: Push changes to uat branch
        run: |
          git push https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/roni07/github-actions.git uat